<p id="notice"><%= notice %></p>
<h1>Let's get you into the Library</h1>

<%= form_tag signon_path do %>
    <div class="field">
      <%= label_tag 'E-mail' %><br>
      <%= text_field_tag :email %>
    </div>
    <div class="field">
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </div>
    <div class="actions">
      <%= submit_tag "Log In" %>
    </div>

<% end %>

<div class="signup">
  <p>Haven't signed up yet?
    <%= link_to 'Sign Up', signup_path%></p>

</div>
