<p style="font-size: 23px;margin-left: 5%;">Let's get you into the Library</p>

<%= form_tag signon_path, :class => 'signonform' do %>
    <div class="field">
      <%= label_tag 'E-mail' %><br>
      <%= text_field_tag :email %>
    </div>
    <div class="field">
      <%= label_tag :password %><br>
      <%= password_field_tag :password %>
    </div>
    <div class="actions">
      <%= submit_tag "Log In" %>
    </div>

<% end %>

<div class="loginMessage">
</div>

<div class="signup">
  <p style="font-size: 16px;margin-left: 5%;">Haven't signed up yet?
    <%= link_to 'Sign Up', signup_path%></p>
</div>

<img class="loginScreenImg"src="/assets/wolfHowl.jpg" alt="Howl">
