<%= form_for(reader, url: sign_up_create_post_path) do |f| %>
    <% if reader.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(reader.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% reader.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>

    <div class="field">
      <%= f.label :phoneNumber %>
      <%= f.text_field :phoneNumber %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.hidden_field :role, { :value => 'Normal'} %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
