<%= form_for(booking) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :Location %>
    <%= f.select :location, options_for_select([['Hunt'], ['Hill']])%>
  </div>

  <div>
    <%= f.label :Size %>
    <%= f.select :size, options_for_select([[4], [6],[8]])%>
  </div>

  <% #= Since location and size are not attributes of Bookings model, I had to put attr_accessor for them in the model to accept them %>

  <div class="field">
    <%= f.label :intime %>
    <%= f.datetime_select :intime %>
  </div>

  <div class="field">
    <%= f.label :outtime %>
    <%= f.datetime_select :outtime %>
  </div>

  <div class="actions">
    <%= submit_tag "Search" %>
  </div>
<% end %>
