<%= form_for(booking) do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :user_id %>
      <%= f.text_field :user_id %>
    </div>

    <div class="field">
      <%= f.label :room_id %>
      <%= f.text_field :room_id %>
    </div>

    <div class="field">
      <%= f.label :bookingType %>
      <%= f.text_field :bookingType %>
    </div>

    <div class="field">
      <%= f.label :checkin %>
      <%= f.datetime_select :checkin %>
    </div>

    <div class="field">
      <%= f.label :checkout %>
      <%= f.datetime_select :checkout %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
