<H1> Bookings</H1>

<div class="bookingHistory upcomingBookings">
  <%- # Display specific user bookings as upcoming, past and cancelled. -%>
  <p> Upcoming Bookings</p>
  <table>
    <thead>
    <tr>
      <th>Booking ID</th>
      <th>Room No.</th>
      <th>Check In Time</th>

      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% getUpComingBookings.each do |upcoming| %>
        <tr>
          <td><%= upcoming.id %></td>
          <td><%= upcoming.room_no %></td>
          <td><%= upcoming.intime.strftime('%m/%d/%Y %H:%M') %></td>
          <td><%= link_to 'Cancel Booking', upcoming, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>
<br>
<div class="bookingHistory pastBookings">
  <p>Past Bookings</p>
  <table>
    <thead>
    <tr>
      <th>Booking ID</th>
      <th>Room No.</th>
      <th>Check In Time</th>

      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% getPastBookings.each do |past| %>
        <tr>
          <td><%= past.id %></td>
          <td><%= past.room_no %></td>
          <td><%= past.intime.strftime('%m/%d/%Y %H:%M') %></td>


        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>
<br>
<div class="bookingHistory deletedBookings">
  <p>Cancelled Bookings</p>
  <table>
    <thead>
    <tr>
      <th>Booking ID</th>
      <th>Room No.</th>
      <th>Check In Time</th>

      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% getDeletedBookings.each do |deleted| %>
        <tr>
          <td><%= deleted.id %></td>
          <td><%= deleted.room_no %></td>
          <td><%= deleted.intime.strftime('%m/%d/%Y %H:%M') %></td>


        </tr>
    <% end %>
    </tbody>
  </table>
</div>