<H1> These are your bookings till date</H1>

<div class="bookingHistory upcomingBookings">
  <p> Upcoming Bookings</p>
  <table>
    <thead>
    <tr>
      <th>Booking ID</th>
      <th>Room No.</th>
      <th>Check In Time</th>

      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% getUpComingBookings.each do |upcoming| %>
        <tr>
          <td><%= upcoming.id %></td>
          <td><%= upcoming.room_no %></td>
          <td><%= upcoming.intime.strftime('%m/%d/%Y %H:%M') %></td>


        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br>
<br>
<div class="bookingHistory pastBookings">
  <p>Past Bookings</p>
  <table>
    <thead>
    <tr>
      <th>Booking ID</th>
      <th>Room No.</th>
      <th>Check In Time</th>

      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% getPastBookings.each do |past| %>
        <tr>
          <td><%= past.id %></td>
          <td><%= past.room_no %></td>
          <td><%= past.intime.strftime('%m/%d/%Y %H:%M') %></td>


        </tr>
    <% end %>
    </tbody>
  </table>
</div>