<H1> These are your bookings till date</H1>

<div class="bookingHistory upcomingBookings">
  <% upcomingBookings = getUpComingBookings%>
  <% if (upcomingBookings.size > 0)%>
  <p>Upcoming Bookings</p>
  <table>
    <thead>
    <tr>
      <th>Booking ID</th>
      <th>Room No.</th>
      <th>Check In Time</th>
      <th>Check Out Time</th>

    </tr>
    </thead>
    <tbody>
    <% upcomingBookings.each do |upcoming| %>
        <tr>
          <td><%= upcoming.id %></td>
          <td><%= upcoming.room_id %></td>
          <td><%= upcoming.intime.strftime('%m/%d/%Y %H:%M') %></td>
          <td><%= upcoming.outtime.strftime('%m/%d/%Y %H:%M') %></td>

        </tr>
    <% end %>
    </tbody>
  </table>
  <%else%>
    No upcoming bookings
  <%end%>
</div>
<br>
<br>
<div class="bookingHistory pastBookings">
  <% pastBookings = getPastBookings%>
  <% if (pastBookings.size > 0)%>
  <p>Past Bookings</p>
  <table>
    <thead>
    <tr>
      <th>Booking ID</th>
      <th>Room No.</th>
      <th>Check In Time</th>
      <th>Check Out Time</th>

    </tr>
    </thead>
    <tbody>
    <% pastBookings.each do |past| %>
        <tr>
          <td><%= past.id %></td>
          <td><%= past.room_id %></td>
          <td><%= past.intime.strftime('%m/%d/%Y %H:%M') %></td>
          <td><%= past.outtime.strftime('%m/%d/%Y %H:%M') %></td>

        </tr>
    <% end %>
    </tbody>
  </table>
      <% else %>
    No previous bookings
  <%end%>
</div>
<br>
<br>
<div class="bookingHistory ongoingBookings">
  <% ongoingBookings = getOngoingBookings%>
  <% if (ongoingBookings.size > 0)%>
      <p>Ongoing Bookings</p>
      <table>
        <thead>
        <tr>
          <th>Booking ID</th>
          <th>Room No.</th>
          <th>Check In Time</th>
          <th>Check Out Time</th>

        </tr>
        </thead>
        <tbody>
        <% ongoingBookings.each do |ongoing| %>
            <tr>
              <td><%= ongoing.id %></td>
              <td><%= ongoing.room_id %></td>
              <td><%= ongoing.intime.strftime('%m/%d/%Y %H:%M') %></td>
              <td><%= ongoing.outtime.strftime('%m/%d/%Y %H:%M') %></td>

            </tr>
        <% end %>
        </tbody>
      </table>
  <%else%>
      No ongoing bookings
  <%end%>
</div>