<p id="notice"><%= notice %></p>

<h1>Search Rooms</h1>

<p>Search for available rooms:</p>

<%= form_tag(bookings_path, :method => "get", id: "search-form") do %>


    <div class="field">
      <%= label_tag(:location, "Select location:") %>
      <%= select_tag :location, options_for_select([['Hunt'], ['Hill']]) %>
     </div>


    <div class="field">
      <%= label_tag(:size, "Select size:") %>
      <%= select_tag :size, options_for_select([[4], [6],[8]]) %>
    </div>


    <div class="field">
      <%= label_tag(:intime, "Select In Time:") %>
      <%= select_datetime DateTime.now, prefix: :intime %>
    </div>


    <div class="field">
      <%= label_tag(:outtime, "Select Out Time:") %>
      <%= select_datetime DateTime.now, prefix: :outtime %>
    </div>


    <%= submit_tag "Search" %>
    <% end %>

<%= link_to 'New Booking', new_booking_path %>
