<h1>Here are your booking/s</h1>

<table>
  <tr>
    <th>Room Number</th>
    <th>Room Size</th>
    <th>Location</th>
    <th>Date</th>
    <th>Time</th>
  </tr>
  <% @data.each do |data| %>       #start loop
      <tr>
        <td><%= data[2] %></td>  #column field1 in your database
        <td><%= data[4] %></td>  #column field2 in your database
        <td><%= data[3] %></td>
        <td><%= data[1] %></td>
        <td><%= data[2] %></td>
        <td><%= link_to 'Book this room', bookings_path %></td>
      </tr>
  <% end %>                        #end loop
</table>


