<h1>Search Rooms</h1>
<%= my_time = Time.now %>

<%= form_tag(bookings_search_path, :method => "get") do %>
    <div>
      <%= label_tag :Location %>
      <%= select_tag :location, options_for_select([['D.H.Hill'], ['James.B.Hunt']])%>
    </div>

    <div>
      <%= label_tag :Size %>
      <%= select_tag :size, options_for_select([[4], [6],[12]])%>
    </div>

    <% #= Since location and size are not attributes of Bookings model, I had to put attr_accessor for them in the model to accept them %>

    <div class="field">
      <%= label_tag(:time, "Select In Time:") %>
      <%= select_hour my_time, start_hour:6, end_hour:22, ampm:true,prefix: :time %>
    </div>

    <div class="field">
      <%= label_tag(:date, "Select Date:") %>
      <%= select_date Date.today, prefix: :date %>
    </div>

    <div class="actions">
      <%= submit_tag "Search" %>
    </div>
<% end %>