<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @booking.userid %>
</p>

<p>
  <strong>Room no:</strong>
  <%= @booking.room_no %>
</p>

<p>
  <strong>Intime:</strong>
  <%= @booking.intime.strftime('%m/%d/%Y %H:%M') %>
</p>




<%= link_to 'Back', "/bookings/search_static" %>
<%- # Option to send email to team members -%>
<button onclick="showBookingMailPopup(<%= @booking.id %>)"> Send email </button>

