<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>E-mail</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>

       <%#= <td><%= link_to 'Edit', edit_user_path(user) %>


        <td>
          <% if (user.role != 'Super')%>
              <%= link_to 'Show', user %>
              <%= link_to 'Edit', root_path+"users/edit/"+user['id'].to_s %>
          <%end%>


        <% if (user.role == 'Normal')%>
            <td><%=link_to ' Make a Booking', static_search_path(:bookinguserid => user.id ) %></td>
        <%end%>
        <% if (user.role == 'Normal')%>
            <td><%= link_to 'Check Reservations', bookingHistory_path(:historyuserid =>user.id) %></td>
        <%end%>

        </td>
        <% if ((user.id != session[:user]['id']) && user.role != 'Super')%>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end%>

        <% if (user.role == 'Normal')%>
            <td><button onclick="makeAdmin(<%= user.id %>)"> Make Admin</button></td>
        <%end%>
      </tr>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
