<h1>Users</h1>
<% resultUser = @resultUser%>

<% if (resultUser.size >0) %>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Phone Number</th>
    <th>Role</th>
    <th colspan="5"></th>
  </tr>
  </thead>

  <tbody>
  <% resultUser.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.phoneNumber %></td>
        <td><%= user.role %></td>
        <td>
        <% if (user.role != 'Super')%>
          <%= link_to 'Edit', root_path+"users/edit/"+user['id'].to_s %>
        <%end%>
         <% if (user.role == 'Normal')%>
        <%= link_to 'Check Reservations', bookingHistory_path(:historyuserid =>user.id) %>
          <%end%>
        <% if (user.role == 'Normal')%>
           <%=link_to ' Make a Booking', static_search_path(:bookinguserid => user.id ) %>
        <%end%>
        <% if (user.role == 'Normal')%>
          <button onclick="makeAdmin(<%= user.id %>)"> Make Admin</button>
        <%end%>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%else%>
    No Users found matching your criteria.
<%end%>

<br>