<p><%= notice %></p>

<h1>Welcome <% if (@user['role'] != 'Normal')%> Admin <% end%> <%= @user['name'] %> to Library</h1>

<div class=".upcomingBookings">
  <% upcomingBoookings = getUpComingBookings%>
  <% if (upcomingBoookings.size > 0)%>
      Hey you got some upcoming booking!

      <table>
        <thead>
        <tr>
          <th>Booking ID</th>
          <th>Room No.</th>
          <th>Check In Time</th>

          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <% upcomingBoookings.each do |upcoming| %>
            <tr>
              <td><%= upcoming.id %></td>
              <td><%= upcoming.room_no %></td>
              <td><%= upcoming.intime.strftime('%m/%d/%Y %H:%M')  %></td>


            </tr>
        <% end %>
        </tbody>
      </table>

  <% else %>
      You have no upcoming bookings.

  <% end %>
</div>

<br><br>
<div>
  Click <%=link_to 'here', "/bookings/booking_history/"+session[:user]['id'].to_s %> if you would like to view your booking history
</div>
<br><br>

<br><br>
<div>
    Click <%=link_to 'here', "/bookings/search_static" %> if you would like to book a room
</div>
<br><br>

<% if((session[:user]['role']) != "Normal")%>
    <h2>Admin Functions</h2>

    <div>
      <%=link_to 'View all bookings', "/bookings" %>
    </div>

    <h3>Room Functions</h3>
    <div>
      <%= link_to 'Create a New Room', new_room_path %>
    </div>

    <div>
      <%=link_to 'View all rooms', "/rooms" %>
    </div>
    <br>
    <h3>User Functions</h3>
    <div>
      <%= link_to 'Create a New User', new_user_path %>
    </div>
    <div>
      <%=link_to 'View all users', "/users" %>
    </div>
    or
    <div>

      <button class="searchButton" onclick="showSearch()">Search for Users</button> <button class="hideSearchButton" onclick="hideSearch()" style="display: none;">Hide Search</button>
      <div class="searchForm" style="display: none;">
        <%= render 'search_user_form'%>
      </div>
    </div>
    <br>

<% end %>

