<p><%= notice %></p>

<h1>Welcome <% if (@user['role'] == 1)%> Admin <% end%> <%= @user['name'] %> to Library</h1>

<div class=".upcomingBookings">
  <% upcomingBoookings = getUpComingBookings%>
  <% if (upcomingBoookings.size > 0)%>
      Hey you got some upcoming booking!

      <table>
        <thead>
        <tr>
          <th>Booking ID</th>
          <th>Room No.</th>
          <th>Check In Time</th>
          <th>Check Out Time</th>
          <th colspan="3"></th>
        </tr>
        </thead>
        <tbody>
        <% upcomingBoookings.each do |upcoming| %>
            <tr>
              <td><%= upcoming.id %></td>
              <td><%= upcoming.room_no %></td>
              <td><%= Time.parse(upcoming.intime).strftime('%m/%d/%Y %H:%M') %></td>
              <td><%= Time.parse(upcoming.outimr).strftime('%m/%d/%Y %H:%M') %></td>

            </tr>
        <% end %>
        </tbody>
      </table>

  <% else %>
      You have no upcoming bookings

  <% end %>
</div>

<br><br>
<div>
  Click <%=link_to 'here', "/bookings/booking_history/"+session[:user]['id'].to_s %> if you would like to view your booking history
</div>
<br><br>

<br><br>
<div>
  Click <%=link_to 'here', "/bookings" %> if you would like to book a room
</div>
<br><br>

<% if((session[:user]['role']) == "admin")%>
    <div>
      <a href="app/views/rooms/new.html.erb">Create a new room</a>
    </div>

    <div>
      <label class="searchText">Search for users</label>
      <button class="searchButton" onclick="showSearch()">Search</button> <button class="hideSearchButton" onclick="hideSearch()" style="display: none;">Hide Search</button>
      <div class="searchForm" style="display: none;">
        <%= render 'search_user_form'%>
      </div>
    </div>
<% end %>
