<%= form_for(room) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <div class="field">
      <%= f.label :location %>
      <%= f.select(:location,options_for_select([['D.H.Hill', 'D.H.Hill'], ['James.B.Hunt', 'James.B.Hunt'],['','']], '')) %>
    </div>


    <div class="field">
      <%= f.label :size %>
      <%= f.select(:size,options_for_select([['Small - 4 chairs', 4], ['Medium - 6 chairs', 6],['Large - 12 chairs',12],['',0]], 0)) %>
    </div>


    <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
