<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Room no</th>
      <th>Location</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.id %></td>
        <td><%= room.location %></td>
        <td><%= room.size %></td>
        <% if((session[:user]['role']) != "Normal")%>
          <td><%= link_to 'Show', room %></td>
          <td><%= link_to 'Edit', root_path+"rooms/edit/"+room['id'].to_s %></td>
          <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
