<p id="notice"><%= notice %></p>

<p>
  <strong>Room no:</strong>
  <%= @room.room_no %>
</p>

<p>
  <strong>Location:</strong>
  <%= @room.location %>
</p>

<p>
  <strong>Size:</strong>
  <%= @room.size %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
