<p id="notice"><%= notice %></p>

<p>
  <strong>Room no:</strong>
  <%= @room.id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @room.location %>
</p>

<p>
  <strong>Size:</strong>
  <%= @room.size %>
</p>

<% @msg=upcoming_room_boookings(@room.id) %>
<%= link_to 'Destroy', @room, method: :delete, data: { confirm: @msg } %> |

<%= link_to 'Back', rooms_path %>
