<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div class="topOfPage">
    <div style="position: fixed;margin-top: 2%;margin-bottom: 2%;font-size: x-large;font-weight: 600; margin-left: 39%;">Wolf Pack Library</div>
    <a href="https://www.ncsu.edu/"><img class="ncsuLogo"src="/assets/NCSU Logo" alt="Howl"></a>
  </div>
  <div class="container">


  <nav>

    <% if @user != nil %>

          <%= link_to "Log Out", logout_path %>
          <%= link_to "Edit Profile", '/users/edit/'+@user['id'].to_s%>

    <% end %>



      <%= link_to "Home Page", root_path, :class => 'headerHomePage'%>


  </nav>


    <%= yield %>


    </div>
  <div class="bottomOfPage"><span class="footerContent">Winter is Coming</span></div>
  </body>

</html>
